.cardHeader {
    padding: 0;

}

.card {
    margin-bottom: 25px;
    border-color: #960018;
    padding: 10px;
}

.main {
    text-align: center;
}

.text {
    color: #960018;
}

.btn {
    width: 100px;
    height: 33px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px;
    margin-bottom: 20px;
}

.btn:hover {
    color: white;
    background-color: #960018;
}

.mainly {
    position: relative;


}

.icon {
    color: white;
    display: none;
    position: absolute;
    font-size: 30px;
    right: 300px;
    top: 50%
}

.card:hover .icon {
    display: block;
}


.mainer {
    position: relative;
}

.iconing {
    position: absolute;
    right: 200px;
    color: white;
    top: 50%;
    font-size: 30px;
    display: none;
}

.card:hover .iconing {
    display: block;
}